﻿
@{
    ViewBag.Title = "MyContact";
}
@model IEnumerable<MyDemoClientAddress.Models.Contact>
<style>
    .tablemy {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }

    .fontSmall {
        font-size: small;
    }

    .btnmy {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        /*margin-bottom: 20px;*/
    }

    .labelmy {
        margin-bottom: 5px;
        font-weight: 600;
    }
</style>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Contact Add / Edit</h4>
            <form class="needs-validation" novalidate="" action="post">
                <input id="contactId" type="hidden" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName" class="labelmy">Firstname</label>
                        <input class="form-control" id="firstName" required="" type="text" placeholder="" value="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="labelmy">Lastname</label>
                        <input class="form-control" id="lastName" required="" type="text" placeholder="" value="">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="middleName" class="labelmy">Middlename <span class="font-weight-normal text-muted">(Optional)</span></label>
                        <input class="form-control" id="middleName" type="text" placeholder="" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="phone" class="labelmy">Phone</label>
                        <input class="form-control" id="phone" required="" type="text">
                        <div class="invalid-feedback">
                            Valid mobile or phone number is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="labelmy">Email <span class="font-weight-normal text-muted">(Optional)</span></label>
                    <input class="form-control" id="email" type="email">
                </div>
                <div class="mb-3">
                    <label for="address" class="labelmy">Address</label>
                    <input class="form-control" id="address" required="" type="text">
                    <div class="invalid-feedback">
                        Valid address is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address2" class="labelmy">Address 2 <span class="font-weight-normal text-muted">(Optional)</span></label>
                    <input class="form-control" id="address2" type="text" placeholder="">
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country" class="labelmy">Country</label>
                        <select class="custom-select d-block w-100" id="country" required="">
                            <option value="">Select...</option>
                            <option value="AUS">Australia</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid country is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state" class="labelmy">State</label>
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">Select...</option>
                            <option value="ACT">ACT</option>
                            <option value="NT">NT</option>
                            <option value="NSW">NSW</option>
                            <option value="QLD">QLD</option>
                            <option value="TAS">TAS</option>
                            <option value="VIC">VIC</option>
                            <option value="WA">WA</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid state is required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="pcode" class="labelmy">Postcode</label>
                        <input class="form-control" id="pcode" required="" type="text" placeholder="">
                        <div class="invalid-feedback">
                            Valid post code is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <button class="btn btn-primary btn-block btnmy" id="btnSave" type="button">Save</button>
                    </div>
                    <div class="col-md-4 mb-4">
                        <button class="btn btn-block btnmy" id="btnClear" type="button">Clear</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 offset-2 order-md-1 alert alert-danger d-none" id="divError" role="alert">
            <h4 class="alert-heading">Please fix the following errors and re-submit form.</h4>
            <p></p>
        </div>
    </div>
</div>
@*
    d-none d-md-block will hide this container when the Viewport is small or extra small
*@
<div class="container-fluid">
    <hr class="mb-4">
    <div class="form-inline">
        <input type="hidden" id="pageNo" value="1" />
        @{
            if (Model != null && Model.Count() > 0)
            {
                <input type="hidden" id="totalPages" value="@Model.First().GridTotalPages" />
            }
            else
            {
                <input type="hidden" id="totalPages" value="1" />
            }
        }
    </div>
    <table class="table tablemy fontSmall">
        <thead class="thead-light">
            <tr>
                @*d-none d-md-table-cell - Only show these cells when viewport is medium or greater*@
                <th scope="col" class="d-none d-md-table-cell"></th>
                <th scope="col" class="d-none d-md-table-cell"></th>
                @*py-0 - padding top and bottom 0 (bootstrap) measurement. pr-2 - padding right 2 measurement.*@
                <th class="py-0" colspan="2"><a id="btnFirst" href="#"><span class="fa fa-step-backward pr-2"></span></a><a id="btnPrev" href="#"><span class="fa fa-backward pr-2"></span></a><span class="pr-2 font-weight-normal">Page</span><span id="spanPageNo" class="pr-2"></span><span class="pr-2 font-weight-normal">of</span><span id="spanTotalPages" class="pr-2"></span><a id="btnNext" href="#"><span class="fa fa-forward pr-2"></span></a><a id="btnLast" href="#"><span class="fa fa-step-forward pr-2"></span></a><span><select class="custom-select-sm" id="pageSize"><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="20" selected="selected">20</option></select></span></th>
                <th scope="col" class="d-none d-md-table-cell"></th>
            </tr>
            <tr>
                <th scope="col">Fullname</th>
                @*d-none d-md-table-cell - Only show these cells when viewport is medium or greater*@
                <th scope="col" class="d-none d-md-table-cell">Phone</th>
                <th scope="col" class="d-none d-md-table-cell">Email</th>
                <th scope="col" class="d-none d-md-table-cell">Address</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var contact in Model)
            {
            <tr data-contactid="@contact.ContactId.ToString()" data-countryid="@contact.CountryId.ToString()" data-stateid="@contact.StateId.ToString()" data-firstname="@contact.FirstName.ToString()" data-middlename="@contact.MiddleName.ToString()" data-lastname="@contact.LastName.ToString()" data-address="@contact.Address.ToString()" data-address2="@contact.Address2.ToString()" data-postcode="@contact.Postcode.ToString()">
                <td>@contact.FullName</td>
                <td class="d-none d-md-table-cell">@contact.Phone</td>
                <td class="d-none d-md-table-cell">@contact.Email</td>
                <td class="d-none d-md-table-cell">@contact.FullAddress</td>
                <td class="text-center"><a id='edit' href='#' title='Edit' class="pr-3"><i class='fa fa-edit'></i></a><a id='delete' href='#' title='Delete'><span><i class='fa fa-trash'></i></span></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript" src="~/Scripts/contact.js"></script>
}